* {
    box-sizing: content-box;
}


p {
    font-family: 'Outfit', serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    color: hsl(24, 5%, 18%);
}

.header-photo {
    width: 40rem;
    height: 20rem;
    margin-top: 10rem;
    border-radius: 15px;
}

.container {
    width: 50%;
    margin: 0 auto;
    display: block;
}


h1 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 500;
}

table {
    width: 100%;
    border-collapse: collapse;
}

li {
    padding: 0.4rem 0;
    font-family: 'Outfit', serif;
    font-weight: 300;
}

h3 {
    color: hsl(332, 51%, 32%);
    font-family: 'Outfit', sans-serif;
}

strong {
    font-weight: 500;
    color: hsl(24, 5%, 18%);
}

h2 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: hsl(332, 51%, 32%);

}

.nutrition {
    font-weight: 600;
    color: hsl(332, 51%, 32%);
}

.nutrition-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.nutrition-container li {
    list-style: none;
    font-family: 'Outfit', serif;
}

.nutritional-facts {
    font-family: 'Outfit', serif;
    font-weight: 300;
    color: hsl(24, 5%, 18%);

}

.containing-list {
    font-weight: 600;
    color: hsl(332, 51%, 32%);
}
